* {
    box-sizing: border-box;
}

html, body, #fa-app {
    height: 100%;
    height: 568px;
    width: 320px;
    overflow: hidden
}

#fa-app {
    background: black;
}

.header img, .footer img {
    display: block;
    margin: 0;
    padding: 0;
    width: 320px;
}

.tile {
    cursor: zoom-in;
}

.tile .zoomed {
    cursor: zoom-out;
}

.tile img {
    width: 100%;
    display: block
}

.detail-tile {
    overflow: hidden;
}

.detail-tile img {
    width: 100%;
    height: auto;
    display: block
}

.tile .fa-surface {
    height: 100%;
}

.clip {
    overflow: hidden;
}

.img-fill img {
    height: 100%;
    width: 100%;
}

.overlay {
    pointer-events: none;
}
